@font-face {
  font-family: "jost";
  src: url("./Jost-regular.ttf") format('woff2');
}

:root {
    --cell-size: 2.2vw;
    --font-color: #e3e3e3;
    --win-color: #95db83;
    --lose-color: #ba1735;
    --hit-cell: #d36b70;
    --miss-cell: #d3916b;
    --sunk-cell: #9b142d;
    --player-placed-ship: #9a6bd3;
    --valid: #70d36b;
    --invalid: #b6bcbf;
    --border-width: 1.5px;
}

p, h1 {
    margin: 0;
    padding: 0;
}

html {
    font-family: "jost";
    color: var(--font-color);
    height: 100vh;
    width: 100vw;
    font-size: 2vw;
    text-align: center;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.player-cell.invalid-sillhouette {
    background-color: var(--invalid);
}

.player-cell.valid-sillhouette {
    background-color: var(--valid);
}

.computer-cell.hit, .player-cell.hit  {
    background-color: var(--hit-cell) !important;
}

.player-cell.miss, .computer-cell.miss {
    background-color: var(--miss-cell);
}

.player-cell.hit, .ship-peg, .computer-cell, .player-cell.miss {
    transition: all .15s;
} 

.player-cell.placed {
    background-color: var(--player-placed-ship);
}

.ship-peg.placed {
    border: none !important;
}

.computer-cell, .player-cell {
    position: static !important;
    width: var(--cell-size);
    height: var(--cell-size);
    border: var(--border-width) solid var(--font-color);
}

.player-cell .selected {
    border: var(--border-width) solid orange;
}

.header-text {
    box-sizing: border-box;
    font-size: 1.2em;
    padding: 1%;
    width: 100vw;
    overflow: hidden;
}

.ui-board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 0;
    width: calc(10 * var(--cell-size) + 10 * var(--border-width));
    padding: 1%;
}

h1 {
  padding: 1%;
}

.ship-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;

}

.peg-container {
    display: flex;
}

.peg-container

h1 {
    margin: 0;
    padding: 0;
}

.ship-peg {
    border: calc(var(--border-width) * 1.5) solid var(--player-placed-ship);
    height: var(--cell-size);
    width: var(--cell-size);
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: #1f1d1d;
    padding: 0;
}



.board-container {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
}

/* Credit to Radu Bratan on Codepen for the CSS below: https://codepen.io/RaduBratan/pen/XWWKZxb */

  .splash-container {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    animation: lift 0.8s ease-in-out;
    animation-delay: 1.6s;
    animation-fill-mode: forwards;
  }
  
  .win {
    background: var(--win-color);  
  }

  .lose {
    background: var(--lose-color)
  }
  
  .title {
    font-size: 81px;
    color: var(--font-color);
    text-align: center;
    animation: wave 0.4s, jump 1s;
    position: relative;
    top: 0;
    padding: 4px;
    /* //transform: translate3d(0, 16%, 0); */
    opacity: 0;
    z-index: 3;
    animation-fill-mode: forwards;
  }
  
  span:nth-of-type(1) {
    /* //left: 0rem; */
    animation: wave 0.4s, jump 1.1s ease-in-out alternate 0.05s;
  }
  
  span:nth-of-type(2) {
    /* //left: 0.8rem; */
    animation: wave 0.4s, jump 1.1s ease-in-out alternate 0.1s;
  }
  
  span:nth-of-type(3) {
    /* //left: 1.6rem; */
    animation: wave 0.4s, jump 1.1s ease-in-out alternate 0.15s;
  }
  
  span:nth-of-type(4) {
    /* //left: 2.4rem; */
    animation: wave 0.4s, jump 1.1s ease-in-out alternate 0.2s;
  }
  
  span:nth-of-type(5) {
    /* //left: 3.2rem; */
    animation: wave 0.4s, jump 1.1s ease-in-out alternate 0.25s;
  }
  
  span:nth-of-type(6) {
    /* //left: 4rem; */
    animation: wave 0.4s, jump 1.1s ease-in-out alternate 0.3s;
  }
  
  @keyframes wave {
    0% {
      top: 0%;
    }
    100% {
      top: 100%;
    }
  }
  
  @keyframes jump {
    0% {
      transform: translate3d(0, 0, 0);
      opacity: 0;
    }
    90% {
      transform: translate3d(0, -16%, 0);
      opacity: 1;
    }
    100% {
      transform: translate3d(0, -32%, 0);
      opacity: 1;
    }
  }
  
  @keyframes lift {
    0% {
      transform: translate3d(0, 0, 0);
      opacity: 1;
      visibility: visible;
    }
    100% {
      transform: translate3d(0, -100%, 0);
      opacity: 1;
      visibility: hidden;
    }
  }
  
  @keyframes appear {
    0% {
      visibility: hidden;
    }
    100% {
      visibility: visible;
    }
  } 
  