:root {
    --cell-size: 2.5vw;
    --font-color: white;
}

.jersey-10-regular {
    font-family: "Jersey 10", serif;
    font-weight: 400;
    font-style: normal;
}

p {
    margin: 0;
    padding: 0;
}

html {
    font-family: "Jersey 10";
    color: var(--font-color);
    height: 100vh;
    width: 100vw;
    font-size: 2vw;
    text-align: center;
}

.player-cell.invalid-sillhouette {
    background-color: gray;
}

.player-cell.valid-sillhouette {
    background-color: green;
}

.player-cell.hit {
    background-color: red !important;
}

.computer-cell.hit {
    background-color: green !important;
}

.player-cell.miss, .computer-cell.miss {
    background-color: orange;
}

.player-cell.hit, .ship-peg, .computer-cell, .player-cell.miss {
    transition: all .5s;
} 

.player-cell.placed {
    background-color: purple;
}

.ship-peg.placed {
    border: none !important;
}

  

body {
    background-color: #1f1d1d;

}

.computer-cell, .player-cell {
    position: static !important;
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid white;
}

.player-cell .selected {
    border: 1px solid orange;
}

.ui-board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 0;
    width: calc(10 * var(--cell-size));
}

.ship-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
}

.ship-peg {
    border: 1px solid orange;
    height: var(--cell-size);
    width: var(--cell-size);
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
}



.board-container {
    display: grid;
    grid-template-rows: repeat(2, 2%);
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
}